# RequestEngine Instance Definition
# Copy this file and rename to {instance_type}{instance_id}.env
# Example: cfworker001.env, cfworker002.env
#
# Referenced by (この定義値を使用するファイル):
#   ../../../../../.github/workflows/deploy-ts-to-cf-worker.yml
EO_RE_INSTANCE_TYPE=cfworker
EO_RE_INSTANCE_ID=001
EO_REGION=global
EO_REGION_SHORT=global
