# RequestEngine Instance Definition
# Copy this file and rename to {instance_type}{instance_id}.env
# Example: cloudrun001.env, cloudrun002.env
#
# Referenced by (この定義値を使用するファイル):
#   ../../../../../.github/workflows/deploy-py-to-gcp-cloudrun.yml
EO_RE_INSTANCE_TYPE=cloudrun
EO_RE_INSTANCE_ID=001
EO_REGION=asia-northeast1
EO_REGION_SHORT=asne1
